.git
.github
.env
.env.*
node_modules
admin/node_modules
__pycache__
*.pyc
admin/build
admin/public/assets
admin/storage
/logs
/cache
/config/*
!/config/permissions.json
!/config/settings.json
!/config/caddy
!/config/caddy/Caddyfile
/models
/data
*.log
/storage
/vault
dist
tmp
.DS_Store
.vscode
.idea
