:{$CADDY_INTERNAL_PORT:8080} {
	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	reverse_proxy admin:{$ADMIN_INTERNAL_PORT:8050}
}
